# Formsubmit.co — formulaire admissions
VITE_FORM_ADMISSIONS=https://formsubmit.co/ajax/admissions@lcd.sn

# Formsubmit.co — formulaire partenaires
VITE_FORM_PARTENAIRES=https://formsubmit.co/ajax/partenariats@lcd.sn

# WhatsApp Business
VITE_WHATSAPP_NUMBER=221787359256

# URL du site en production
VITE_SITE_URL=https://lcd.sn
